.tagline2 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  min-width: 53px;
}
.short-heading-here2 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: 56px;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
  text-align: left;
}
.column11 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  min-width: 400px;
  max-width: 100%;
}
.button39,
.lorem-ipsum-dolor20 {
  position: relative;
  line-height: 150%;
}
.lorem-ipsum-dolor20 {
  align-self: stretch;
}
.button39 {
  font-size: 16px;
  font-family: Roboto;
  color: #fff;
  text-align: left;
  display: inline-block;
  min-width: 48px;
}
.button38 {
  cursor: pointer;
  border: 1px solid #000;
  padding: 10px 23px;
  background-color: #000;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button38:hover,
.button40:hover {
  border: 1px solid #333;
  box-sizing: border-box;
}
.button38:hover {
  background-color: #333;
}
.button41 {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 48px;
}
.actions10,
.button40 {
  display: flex;
  flex-direction: row;
}
.button40 {
  cursor: pointer;
  border: 1px solid #000;
  padding: 10px 23px;
  background-color: transparent;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.button40:hover {
  background-color: rgba(51, 51, 51, 0.09);
}
.actions10 {
  width: 208px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 0 0;
  box-sizing: border-box;
  gap: 16px;
}
.column12 {
  flex: 1;
  flex-direction: column;
  gap: 24px;
  min-width: 400px;
  text-align: left;
  font-size: 18px;
}
.column12,
.content34,
.header-47,
.intermediate-header-1 {
  max-width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content34 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 80px;
}
.header-47,
.intermediate-header-1 {
  background-color: #fff;
  overflow: hidden;
}
.header-47 {
  flex: 1;
  flex-direction: column;
  padding: 112px 64px;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  color: #000;
  font-family: Roboto;
}
.intermediate-header-1 {
  width: 1440px;
  flex-direction: row;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .short-heading-here2 {
    font-size: 45px;
    line-height: 54px;
  }
  .header-47 {
    gap: 40px;
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 675px) {
  .column11,
  .column12 {
    min-width: 100%;
  }
  .content34 {
    gap: 40px;
  }
}
@media screen and (max-width: 450px) {
  .short-heading-here2 {
    font-size: 34px;
    line-height: 40px;
  }
  .content34,
  .header-47 {
    gap: 20px;
  }
}
