.subheading7 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  min-width: 53px;
}
.heading29 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 58px;
  font-weight: 700;
  font-family: inherit;
}
.lorem-ipsum-dolor5 {
  align-self: stretch;
  position: relative;
  font-size: 18px;
  line-height: 150%;
}
.content61 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  font-size: 48px;
}
.section-title12 {
  width: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  max-width: 100%;
}
.placeholder-image-icon12 {
  align-self: stretch;
  height: 395px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.name10 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.title11 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.bio {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 150%;
}
.content64 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.icon-linkedin10 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.social-icons10 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
}
.card10 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  max-width: 100%;
}
.row11 {
  width: 1312px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 48px;
  max-width: 100%;
}
.content63 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 64px;
  max-width: 100%;
}
.heading30 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 42px;
  font-weight: 700;
  font-family: inherit;
}
.button37 {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 107px;
}
.button36 {
  cursor: pointer;
  border: 1px solid #000;
  padding: 10px 23px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button36:hover {
  background-color: rgba(51, 51, 51, 0.09);
  border: 1px solid #333;
  box-sizing: border-box;
}
.content70 {
  width: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  max-width: 100%;
  font-size: 32px;
}
.content62 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 96px;
  max-width: 100%;
  text-align: center;
  font-size: 20px;
  color: #000;
  font-family: Roboto;
}
.team-6 {
  flex: 1;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 112px 64px;
  box-sizing: border-box;
  gap: 80px;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  color: #000;
  font-family: Roboto;
}
.person-medium {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (max-width: 1200px) {
  .team-6 {
    padding-top: 73px;
    padding-bottom: 73px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .heading29 {
    font-size: 38px;
    line-height: 46px;
  }

  .heading30 {
    font-size: 26px;
    line-height: 33px;
  }

  .team-6 {
    padding-top: 47px;
    padding-bottom: 47px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .row11 {
    gap: 24px;
  }

  .content63 {
    gap: 32px;
  }

  .content62 {
    gap: 48px;
  }

  .team-6 {
    gap: 40px;
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading29 {
    font-size: 29px;
    line-height: 35px;
  }

  .name10 {
    font-size: 16px;
    line-height: 24px;
  }

  .content63 {
    gap: 16px;
  }

  .heading30 {
    font-size: 19px;
    line-height: 25px;
  }

  .content62 {
    gap: 24px;
  }

  .team-6 {
    gap: 20px;
    padding-top: 31px;
    padding-bottom: 31px;
    box-sizing: border-box;
  }
}
