.subheading5 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  min-width: 53px;
}
.heading25 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 58px;
  font-weight: 700;
  font-family: inherit;
}
.content41 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  font-size: 48px;
}
.section-title10 {
  width: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  max-width: 100%;
}
.placeholder-image-icon2 {
  width: 80px;
  height: 80px;
  position: relative;
  object-fit: cover;
}
.name {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.job-title {
  align-self: stretch;
  position: relative;
  font-size: 18px;
  line-height: 150%;
}
.title1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.member-bio-one {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 150%;
}
.content44 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.icon-linkedin {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.social-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
}
.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  min-width: 406px;
  max-width: 100%;
}
.row7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 64px;
  max-width: 100%;
}
.content43 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 64px;
  max-width: 100%;
}
.heading26 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 42px;
  font-weight: 700;
  font-family: inherit;
}
.button33 {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 107px;
}
.button32 {
  cursor: pointer;
  border: 1px solid #000;
  padding: 10px 23px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button32:hover {
  background-color: rgba(51, 51, 51, 0.09);
  border: 1px solid #333;
  box-sizing: border-box;
}
.content48 {
  width: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  max-width: 100%;
  font-size: 32px;
}
.content42 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 96px;
  max-width: 100%;
  text-align: center;
  font-size: 20px;
  color: #000;
  font-family: Roboto;
}
.team-11 {
  flex: 1;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 112px 64px;
  box-sizing: border-box;
  gap: 80px;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  color: #000;
  font-family: Roboto;
}
.person-simple {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (max-width: 1050px) {
  .team-11 {
    padding-top: 73px;
    padding-bottom: 73px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1000px) {
  .heading25 {
    font-size: 38px;
    line-height: 46px;
  }

  .heading26 {
    font-size: 26px;
    line-height: 33px;
  }
}
@media screen and (max-width: 725px) {
  .card {
    min-width: 100%;
  }

  .row7 {
    gap: 32px;
  }

  .content43 {
    gap: 32px;
  }

  .content42 {
    gap: 48px;
  }

  .team-11 {
    gap: 40px;
    padding: 47px 32px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading25 {
    font-size: 29px;
    line-height: 35px;
  }

  .name {
    font-size: 16px;
    line-height: 24px;
  }

  .row7 {
    gap: 16px;
  }

  .content43 {
    gap: 16px;
  }

  .heading26 {
    font-size: 19px;
    line-height: 25px;
  }

  .content42 {
    gap: 24px;
  }

  .team-11 {
    gap: 20px;
  }
}
