.tagline {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.heading3 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.content8 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  font-size: 48px;
}
.button9 {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 48px;
}
.button8 {
  cursor: pointer;
  border: 1px solid #000;
  padding: 10px 23px;
  background-color: transparent;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button8:hover {
  background-color: rgba(51, 51, 51, 0.09);
  border: 1px solid #333;
  box-sizing: border-box;
}
.button11 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 48px;
}
.icon-chevron-right {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.button10 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.actions2 {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px 0px 0px;
  box-sizing: border-box;
  gap: 24px;
}
.content7 {
  width: 576px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  min-width: 576px;
  max-width: 100%;
}
.divider {
  height: 24px;
  width: 3px;
  position: relative;
  background-color: #000;
  border: 1px solid #000;
  box-sizing: border-box;
}
.divider-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 6px;
}
.circle {
  width: 15px;
  height: 15px;
  position: relative;
  border-radius: 50%;
  background-color: #000;
}
.divider1 {
  align-self: stretch;
  width: 3px;
  position: relative;
  background-color: #000;
  border: 1px solid #000;
  box-sizing: border-box;
}
.divider-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 6px;
}
.progress-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.timeline-progress {
  height: 342px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 56px;
  box-sizing: border-box;
}
.date {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.heading4 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
  font-family: inherit;
}
.titles {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.description {
  align-self: stretch;
  position: relative;
  font-size: 18px;
  line-height: 150%;
}
.actions3 {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px 0px 0px;
  box-sizing: border-box;
  gap: 24px;
  font-size: 16px;
}
.timeline-date {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 0px;
  box-sizing: border-box;
  min-width: 374px;
  max-width: 100%;
}
.content9 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  max-width: 100%;
}
.divider2 {
  height: 42px;
  width: 3px;
  position: relative;
  background-color: #000;
  border: 1px solid #000;
  box-sizing: border-box;
}
.timeline-progress3 {
  height: 326px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 56px;
  box-sizing: border-box;
}
.timeline-date3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 0px 0px;
  box-sizing: border-box;
  min-width: 374px;
  max-width: 100%;
}
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 468px;
  max-width: 100%;
  font-size: 40px;
}
.content6 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: Roboto;
}
.timeline-1 {
  flex: 1;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 112px 64px;
  box-sizing: border-box;
  max-width: 100%;
}
.timeline-clean {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (max-width: 1200px) {
  .content7 {
    flex: 1;
  }

  .content6 {
    flex-wrap: wrap;
  }

  .timeline-1 {
    padding-top: 73px;
    padding-bottom: 73px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .heading3 {
    font-size: 38px;
    line-height: 46px;
  }

  .date {
    font-size: 32px;
    line-height: 38px;
  }

  .heading4 {
    font-size: 26px;
    line-height: 33px;
  }
}
@media screen and (max-width: 750px) {
  .content7 {
    min-width: 100%;
  }

  .timeline-date {
    min-width: 100%;
  }

  .content9 {
    flex-wrap: wrap;
  }

  .timeline-date3 {
    min-width: 100%;
  }

  .container {
    min-width: 100%;
  }

  .timeline-1 {
    gap: 40px;
    padding: 47px 32px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading3 {
    font-size: 29px;
    line-height: 35px;
  }

  .date {
    font-size: 24px;
    line-height: 29px;
  }

  .heading4 {
    font-size: 19px;
    line-height: 25px;
  }

  .timeline-1 {
    gap: 20px;
  }
}
