.company-logo-icon {
  height: 27px;
  width: 63px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.column27 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 63px;
  max-width: 100%;
}
.already-have-an {
  position: relative;
  line-height: 150%;
}
.log-in {
  position: relative;
  text-decoration: underline;
  line-height: 150%;
  display: inline-block;
  min-width: 44px;
  white-space: nowrap;
}
.content323 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.container13 {
  align-self: stretch;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 32px;
  max-width: 100%;
}
.navbar {
  align-self: stretch;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 22.5px 64px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  color: #000;
  font-family: Roboto;
}
.progress-bar {
  align-self: stretch;
  width: 720px;
  position: relative;
  background-color: #000;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 100%;
}
.progress-container8 {
  align-self: stretch;
  height: 4px;
  background-color: #eee;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.heading135 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 42px;
  font-weight: 700;
  font-family: inherit;
}
.section-title35 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.label {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #000;
  text-align: left;
}
.text-input {
  border: 1px solid #000;
  outline: none;
  background-color: #fff;
  align-self: stretch;
  height: 48px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12px;
  min-width: 250px;
}
.input {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.icon-envelope {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.type-your-message {
  width: calc(100% - 46px);
  border: none;
  outline: none;
  font-family: Roboto;
  font-size: 16px;
  background-color: transparent;
  height: 24px;
  flex: 1;
  position: relative;
  line-height: 150%;
  color: #666;
  text-align: left;
  display: inline-block;
  min-width: 250px;
  white-space: nowrap;
  max-width: calc(100% - 36px);
  padding: 0;
}
.buttoniconhelp-circle {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.text-input1 {
  align-self: stretch;
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 11px;
  gap: 12px;
  max-width: 100%;
}
.input1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  max-width: 100%;
}
.step {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 61px;
}
.button199 {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 49px;
}
.button198 {
  cursor: pointer;
  border: 1px solid #000;
  padding: 10px 23px;
  background-color: transparent;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button198:hover {
  background-color: rgba(51, 51, 51, 0.09);
  border: 1px solid #333;
  box-sizing: border-box;
}
.button201 {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #fff;
  text-align: left;
  display: inline-block;
  min-width: 34px;
}
.button200 {
  cursor: pointer;
  border: 1px solid #000;
  padding: 10px 23px;
  background-color: #000;
  width: 82px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button200:hover {
  background-color: #333;
  border: 1px solid #333;
  box-sizing: border-box;
}
.buttons {
  width: 195px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.container14 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.form {
  margin: 0;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  max-width: 100%;
}
.form-content {
  width: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  max-width: 100%;
}
.dropdown-description {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 150%;
}
.button202 {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
  font-family: Roboto;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 11px;
}
.container15 {
  width: 40px;
  border: 1px solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6px 13px;
}
.button203 {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 109px;
}
.radio-3 {
  border: 1px solid #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 6px 15px 6px 7px;
  gap: 8px;
}
.button204 {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
  font-family: Roboto;
  color: #fff;
  text-align: left;
  display: inline-block;
  min-width: 11px;
}
.container16 {
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 14px;
  box-sizing: border-box;
}
.button205 {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #fff;
  text-align: left;
}
.radio-31 {
  background-color: #000;
  border: 1px solid #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 6px 15px 6px 7px;
  gap: 8px;
}
.button207 {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #000;
  text-align: left;
}
.container18 {
  flex: 1;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6px 13px;
}
.button209 {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 39px;
}
.radio-33 {
  width: 111px;
  border: 1px solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 6px 15px 6px 7px;
  gap: 8px;
}
.radio-button {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 133px 0px 0px;
  box-sizing: border-box;
  gap: 16px;
  min-height: 128px;
}
.select-one {
  flex: 1;
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #666;
  text-align: left;
  display: inline-block;
  max-width: calc(100% - 40px);
}
.icon-chevron-down {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.select {
  align-self: stretch;
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 11px;
  gap: 16px;
  max-width: 100%;
}
.button211 {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 36px;
}
.button212 {
  cursor: pointer;
  border: 1px solid #000;
  padding: 10px 23px;
  background-color: #000;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button212:hover {
  background-color: #333;
  border: 1px solid #333;
  box-sizing: border-box;
}
.buttons1 {
  width: 182px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.label5 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.button214 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 58px;
}
.checkbox-3 {
  flex: 1;
  border: 1px solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 6px 15px;
  min-width: 36px;
}
.button215 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 32px;
}
.checkbox-31 {
  width: 64px;
  background-color: #000;
  border: 1px solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 6px 15px;
  color: #fff;
}
.button216 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 41px;
}
.checkbox-32 {
  width: 73px;
  border: 1px solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 6px 15px;
}
.button217 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 50px;
}
.checkbox-33 {
  flex: 1;
  border: 1px solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 6px 15px;
  min-width: 33px;
}
.button218 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 59px;
}
.button219 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 37px;
}
.checkbox-35 {
  width: 69px;
  border: 1px solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 6px 15px;
}
.radio-button1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 16px 0px 0px;
  gap: 16px 15px;
}
.step2 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 61px;
}
.form2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  text-align: left;
  font-size: 16px;
}
.icon-calendar-alt1 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.type-your-message1 {
  width: calc(100% - 46px);
  border: none;
  outline: none;
  font-family: Roboto;
  font-size: 16px;
  background-color: transparent;
  height: 24px;
  flex: 1;
  position: relative;
  line-height: 150%;
  color: #666;
  text-align: left;
  display: inline-block;
  min-width: 250px;
  max-width: calc(100% - 36px);
  padding: 0;
}
.button224 {
  cursor: pointer;
  border: 1px solid #000;
  padding: 10px 23px;
  background-color: transparent;
  width: 84px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button224:hover {
  background-color: rgba(51, 51, 51, 0.09);
  border: 1px solid #333;
  box-sizing: border-box;
}
.button227 {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #fff;
  text-align: left;
  display: inline-block;
  min-width: 80px;
}
.button226 {
  cursor: pointer;
  border: 1px solid #000;
  padding: 10px 23px;
  background-color: #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button226:hover {
  background-color: #333;
  border: 1px solid #333;
  box-sizing: border-box;
}
.buttons3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.forms {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 24px 20px 0px;
  box-sizing: border-box;
  gap: 48px;
  max-width: 100%;
  text-align: center;
  font-size: 32px;
  color: #000;
  font-family: Roboto;
}
.text272 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 97px;
}
.footer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 25.5px 20px;
  text-align: center;
  font-size: 14px;
  color: #000;
  font-family: Roboto;
}
.multi-form-1 {
  flex: 1;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.multiform {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (max-width: 950px) {
  .navbar {
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
  }

  .heading135 {
    font-size: 26px;
    line-height: 33px;
  }

  .radio-button {
    padding-right: 66px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 700px) {
  .container13 {
    gap: 16px;
  }

  .form-content {
    gap: 16px;
  }

  .radio-button {
    padding-right: 33px;
    box-sizing: border-box;
  }

  .forms {
    gap: 24px;
  }
}
@media screen and (max-width: 450px) {
  .heading135 {
    font-size: 19px;
    line-height: 25px;
  }

  .container14 {
    flex-wrap: wrap;
  }
}
