.subheading9 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  min-width: 53px;
}
.heading35 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.text79 {
  align-self: stretch;
  position: relative;
  font-size: 18px;
  line-height: 150%;
}
.content113 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  text-align: left;
  font-size: 48px;
}
.subheading-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.button75 {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #fff;
  text-align: left;
  display: inline-block;
  min-width: 48px;
}
.button74 {
  cursor: pointer;
  border: 1px solid #fff;
  padding: 10px 23px;
  background-color: transparent;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button74:hover {
  background-color: rgba(230, 230, 230, 0.09);
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
}
.button77 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 48px;
}
.icon-chevron-right1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.button76 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.actions12 {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px 0px 0px;
  box-sizing: border-box;
  gap: 24px;
  text-align: left;
}
.section-title18 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  min-width: 247px;
  max-width: 100%;
}
.icon-relume16 {
  width: 48px;
  height: 48px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.heading36 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 130%;
  font-weight: 700;
  font-family: inherit;
}
.text80 {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 150%;
}
.list-item50 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  min-width: 261px;
  max-width: 100%;
}
.list10 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 48px;
  max-width: 100%;
}
.content114 {
  width: 852px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 64px;
  min-width: 852px;
  max-width: 100%;
  text-align: left;
  font-size: 32px;
}
.layout-285 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 112px 64px;
  box-sizing: border-box;
  gap: 80px;
  background-image: url("./public/layout--285@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-family: Roboto;
}
.four-feature-list {
  width: 1440px;
  background-color: #fff;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (max-width: 1125px) {
  .content114 {
    flex: 1;
  }

  .layout-285 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .heading35 {
    font-size: 38px;
    line-height: 46px;
  }

  .heading36 {
    font-size: 26px;
    line-height: 33px;
  }

  .content114 {
    gap: 32px;
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .list10 {
    flex-wrap: wrap;
  }

  .layout-285 {
    gap: 40px;
    padding: 73px 32px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading35 {
    font-size: 29px;
    line-height: 35px;
  }

  .heading36 {
    font-size: 19px;
    line-height: 25px;
  }

  .list10 {
    gap: 24px;
  }

  .content114 {
    gap: 16px;
  }

  .layout-285 {
    gap: 20px;
  }
}
