.subheading11 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  min-width: 53px;
}
.heading46 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.text90 {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 150%;
}
.content127 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  font-size: 40px;
}
.section-title25 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.button103 {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #fff;
  text-align: left;
  display: inline-block;
  min-width: 48px;
}
.button102 {
  cursor: pointer;
  border: 1px solid #fff;
  padding: 10px 23px;
  background-color: transparent;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button102:hover {
  background-color: rgba(230, 230, 230, 0.09);
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
}
.button105 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 48px;
}
.icon-chevron-right5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.button104 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.actions19 {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px 0px 0px;
  box-sizing: border-box;
  gap: 24px;
  text-align: left;
}
.column32 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  min-width: 406px;
  max-width: 100%;
}
.content126 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 64px;
  max-width: 100%;
}
.layout-170 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 112px 64px;
  box-sizing: border-box;
  background-image: url("./public/layout--170@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-family: Roboto;
}
.two-feature-list {
  width: 1440px;
  background-color: #fff;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (max-width: 750px) {
  .heading46 {
    font-size: 32px;
    line-height: 38px;
  }

  .layout-170 {
    gap: 40px;
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 675px) {
  .column32 {
    min-width: 100%;
  }

  .content126 {
    gap: 32px;
  }
}
@media screen and (max-width: 450px) {
  .heading46 {
    font-size: 24px;
    line-height: 29px;
  }

  .content126 {
    gap: 16px;
  }

  .layout-170 {
    gap: 20px;
    padding-top: 73px;
    padding-bottom: 73px;
    box-sizing: border-box;
  }
}
