.subheading15 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.heading97 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 58px;
  font-weight: 700;
  font-family: inherit;
}
.text168 {
  align-self: stretch;
  position: relative;
  font-size: 18px;
  line-height: 150%;
}
.content219 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  font-size: 48px;
}
.section-title21 {
  width: 768px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  max-width: 100%;
}
.button155 {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 56px;
}
.button154 {
  cursor: pointer;
  border: 1px solid #000;
  padding: 10px 23px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button154:hover {
  background-color: rgba(51, 51, 51, 0.09);
  border: 1px solid #333;
  box-sizing: border-box;
}
.title11 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: Roboto;
}
.placeholder-image-icon99 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.day10 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.day-numbers9 {
  align-self: stretch;
  position: relative;
  font-size: 32px;
  line-height: 42px;
}
.date18 {
  width: 112px;
  margin: 0 !important;
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px 4px;
  box-sizing: border-box;
  z-index: 1;
}
.image7 {
  align-self: stretch;
  height: 277px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 10px;
}
.category13 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  min-width: 58px;
}
.tag58 {
  background-color: #eee;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 7px;
}
.event-details6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading98 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 34px;
  font-weight: 700;
  font-family: inherit;
}
.text169 {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 150%;
}
.container-title2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content223 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  font-size: 24px;
}
.content222 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.button157 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 78px;
}
.icon-chevron-right34 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.button156 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.action6 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 0px 0px;
  font-size: 16px;
}
.content221 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  text-align: left;
}
.card63 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  max-width: 100%;
}
.row18 {
  align-self: stretch;
  display: grid;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 32px;
  max-width: 100%;
  grid-template-columns: repeat(3, minmax(312px, 1fr));
}
.content220 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  color: #000;
  font-family: Roboto;
}
.event-9 {
  flex: 1;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 112px 64px;
  box-sizing: border-box;
  gap: 80px;
  max-width: 100%;
}
.event-section-gallery {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 71px;
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (max-width: 1050px) {
  .title11 {
    flex-wrap: wrap;
  }

  .row18 {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(312px, 541px));
  }
}
@media screen and (max-width: 1000px) {
  .heading97 {
    font-size: 38px;
    line-height: 46px;
  }

  .day-numbers9 {
    font-size: 26px;
    line-height: 33px;
  }

  .event-9 {
    padding-top: 73px;
    padding-bottom: 73px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 725px) {
  .row18 {
    gap: 16px;
    grid-template-columns: minmax(312px, 1fr);
  }

  .content220 {
    gap: 16px;
  }

  .event-9 {
    gap: 40px;
    padding: 47px 32px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading97 {
    font-size: 29px;
    line-height: 35px;
  }

  .day-numbers9 {
    font-size: 19px;
    line-height: 25px;
  }

  .heading98 {
    font-size: 19px;
    line-height: 27px;
  }

  .event-9 {
    gap: 20px;
  }
}
